/* FOOTER */
.footer {
    background-color: var(--background);
    border-top: 2px solid var(--primary-dark);
    color: #fff;
    padding: 3rem 1.5rem;
    display: flex;
    align-items: center;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    flex-direction: column;
    text-align: center;
    gap: 0.75rem;
}
